extends layout 

block content
  if errors 
    ul 
      for error in errors 
        li!= error.msg

  h1= title 

  form.form-wrapper(method='POST' action='') 
    h2(style="text-align:center")= title
    div.form-control 
      label(for="projectName" style="margin-left:15px") Project Name
      input#projectName(type="text" name="projectName" required='true')
    div.form-control 
      label(for="genre1" style="margin-left:15px") Genre 1
      select#genre1(name="genre1")
        option(value="" disabled hidden selected)
        each genre in genres 
          option(value=genre._id ) !{`${genre.type[0].toUpperCase()}${genre.type.slice(1)}`}
    div.form-control 
      label(for="genre2" style="margin-left:15px") Genre 2
      select#genre2(name="genre2")
        option(value="" hidden selected)
        each genre in genres 
          option(value=genre._id ) !{`${genre.type[0].toUpperCase()}${genre.type.slice(1)}`}
    div.form-control 
      label(for="genre3" style="margin-left:15px") Genre 3
      select#genre3(name="genre3")
        option(value="" hidden selected)
        each genre in genres 
          option(value=genre._id ) !{`${genre.type[0].toUpperCase()}${genre.type.slice(1)}`}
    div.form-control-btns 
      a(href="/home") Cancel
      button.btn(type="submit") Submit
    