extends layout 

block styles 
  link(rel="stylesheet", href="/stylesheets/style-search.css")

block content 
  div.page-wrapper
    h1= title

    div.search-page-input-container
      form.form-control(method="GET" action="")
        input#searchTerm(type="text" name="searchTerm" placeholder="Search for creators..." required autofocus)
        button.btn.btn-search ðŸ”

    if !pages
      div
        h3 Browse by genre 
          ul.genres-container 
            each genre of genres 
              li 
                a(href=`/search?searchTerm=${genre.type}`)= genre.displayType
        
    if pages
      hr(style="margin:10px;width:50%")
      div.results-container
        ul
          if !pages.length
            p No results
          for page of pages
            li
              a(href=page.url) #{page.title} 
                span(style="color:gray;font-size:.7rem") [#{page.genre.map(genre => genre.type).join(", ")}] 