extends layout 

block styles 
  link(rel="stylesheet", href="/stylesheets/style-search.css")

block content 
  div.page-wrapper
    h1= title

    div.search-page-input-container
      form.form-control(method="GET" action="")
        input#searchTerm(type="text" name="searchTerm" placeholder="Search for creators..." required autofocus)
        button.btn.btn-search ðŸ”

    div
      h3 Browse by genre 
        ul.genres-container 
          each genre of genres
            a.btn.btn-tertiary(href=`/search?searchTerm=browse-genre+${genre.displayType}+${genre._id}`)
              li= genre.displayType
        
    if pages
      hr(style="margin:10px;width:50%")
      div.results-container
        p(style="font-weight:bold;text-align:center;margin-bottom:10px") Results for: 
          span(style="font-weight:normal") #{searched_term}
        ul
          if !pages.length
            p No results
          for page of pages
            a(href=page.url)
              div.result-wrapper 
                img(src=page.profileImg, alt="Profile Image")
                div  
                  h4= page.title 
                  p= page.genre.map(genre => genre.type).join(", ")