doctype html
html(lang='en')
  head
    title= title
    met(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="module" src="/javascripts/script.js" defer)
    block scripts 
  
  body 
    if !currentUser
      header.no-auth-header
        p 
          a(href="/") Home
        p 
          a(href="/search/categories") Browse 
        p 
          a(href="/search") Search 
        p 
          a(href="/register") Register
        p 
          a(href="/login") Login
      div
        block noUser
        block content

    else  
      div.app-wrapper 
        div.sidebar 
          nav.nav-bar 
            ul 
              li 
                a(href="/home") Home 
              li 
                a(href="/search/categories") Browse 
              li 
                a(href="/search") Search 
              li 
                a(href="/home/settings") Settings 
              li 
                a(href="/logout") Logout
              hr(style='margin:10px')

              //- IF CREATOR
              if currentUser.creator.name
                //- IF PAGE EXISTS
                if currentUser.creator.page
                  //- hr(style='margin:10px')
                  li 
                    a(href=`/${currentUser.creator.page}`) View Page 
                  li 
                    a(href=`/account/${currentUser.creator.page}/edit`) Edit Page
                  li 
                    a(href=`/account/${currentUser.creator.page}/posts`) Posts
                  li 
                    a(href=`/account/${currentUser.creator.page}/memberships`) Memberships
                  li 
                    a(href="/account/analytics") Analytics 

                //- IF NO PAGE
                else 
                  //- IF ONBOARDING INCOMPLETE
                  if !currentUser.creator.stripeOnboardComplete
                    //- IF ONBOARDING NOT STARTED
                    if !currentUser.creator.stripeId
                      a(href="/account/onboard-user") Connect to Stripe
                    //- IF ONBOARDING STARTED
                    else 
                      a(href="/account/onboard-user/refresh") Continue Connecting to Stripe

                  //- IF ONBOARDING COMPLETE
                  else 
                    //- IF PAYMENTS ACTIVE
                    if currentUser.creator.stripeStatus === "active" 
                      form(method="POST" action="/account/create-page") 
                        button.btn.btn-secondary(type="submit") Create Page
                    
                    //- IF PAYMENT ISSUE
                    else 
                      div 
                        em Stripe Payment Issue
                        p Status: 
                          span= currentUser.creator.stripeStatus
                        a(href="https://dashboard.stripe.com") Stripe Dashboard
                    
                    //- IF STRIPE REQUIRES INFO
                    if currentUser.creator.stripeIssue 
                      div 
                        em Stripe requires attention 
                        a(href="https://dashboard.stripe.com") Stripe Dashboard

              //- IF NOT CREATOR
              else 
                if currentUser.isVerified
                  li 
                    a(href="/home/creator-signup") Become Creator
                else 
                  li 
                    p(style="font-size:.6rem") [Please Verify Email]


        main.main-wrapper
          block content