doctype html
html(lang='en')
  head
    title= title
    met(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="module" src="/javascripts/script.js" defer)
    //- script(src="https://js.stripe.com/v3/")
    block scripts 
  
  body 
    if !currentUser
      header.no-auth-header
        p 
          a(href="/") Home
        p 
          a(href="/register") Register
        p 
          a(href="/login") Login
      div
        block noUser
        block content

    else  
      div.app-wrapper 
        div.sidebar 
          nav.nav-bar 
            ul 
              li 
                a(href="/home") Home 
              li 
                a(href="/search") Search 
              li 
                a(href="/settings") Settings 
              li 
                a(href="/logout") Logout

              if currentUser.creator.name
                if currentUser.creator.page
                  hr(style='margin:10px')
                  li 
                    a(href=`/${currentUser.creator.page}`) View Page 
                  li 
                    a(href=`/${currentUser.creator.page}/edit`) Edit Page
                  li 
                    a(href=`/${currentUser.creator.page}/posts`) Posts
                  li 
                    a(href=`/${currentUser.creator.page}/memberships`) Memberships
                  li 
                    a(href="/analytics") Analytics 
                else 
                  if currentUser.creator.onboardComplete
                    hr(style='margin:10px')
                    form(method="POST" action="/create-page") 
                      button.btn.btn-secondary(type="submit") Create Page
                  else 
                    hr(style='margin:10px')
                    li 
                      if !currentUser.creator.stripeId
                        a(href="/onboard-user") Connect to Stripe
                      else 
                        a(href="/onboard-user/refresh") Continue Connecting to Stripe

              else 
                hr(style='margin:10px')
                li 
                  a(href="/creator-signup") Become Creator

                


        main.main-wrapper
          block content