extends layout 

block content 
  h1= title 

  if !memberships.length
    p No memberships yet added

  a(href=`/account/${currentUser.creator.page}/add-membership`) Add Membership

  - memberships.sort((a, b) => a.price - b.price)

  each membership in memberships 
    div.tier-wrapper
      p= membership.title
      p= "$" + membership.price.toFixed(2)
      p= membership.desc 
      ul 
        each reward in membership.rewards
          li= "- " + reward
      div.membership-btn-container
        a(href=`/account/${currentUser.creator.page}/delete-membership/${membership._id}`) Delete 
      //- div.membership-btn-container
      //-   form(method="POST" action=`/account/delete-membership`) 
      //-     input#membershipId(type="hidden" name="membershipId" value=membership._id)
      //-     button.btn.btn-secondary(type="submit") Delete


