extends layout 

block content 
  div.page-view-wrapper
    div.page-banner
      img(src=page.imgUrls.banner, alt="Banner image")
      div.page-avatar-wrapper 
        img(src=page.imgUrls.avatar, alt="Avatar image")
    div.page-title
      h1= title 
    
    div.page-about
      p= page.region
      p= page.description 
      if page.socialUrls.facebookHandle
        p= "www.facebook.com/" + page.socialUrls.facebookHandle
      if page.socialUrls.instagramHandle 
        p= "www.instagram.com/" + page.socialUrls.instagramHandle
      if page.socialUrls.twitterHandle
        p= "www.twitter.com/" + page.socialUrls.twitterHandle

    div.page-tiers-container 
      h3 Membership Tiers
      div.tiers-wrapper
        if page.tiers.length > 0
          each membership in page.tiers   
            div.tier-wrapper 
              h3= membership.title 
              p= `$${membership.price}`
              p= membership.desc
              ul 
                each reward in membership.rewards   
                  li= reward
              if String(currentUser._id) === String(page.user._id)
                em Your Page
              else 
                form(method="POST" action=`/${page._id}/subscribe`) 
                  input#userId(type="hidden" name="userId" required="true" value=currentUser._id)
                  input#creatorId(type="hidden" name="creatorId" required="true" value=page.user._id)
                  button.btn.btn-secondary(type="submit") Subscribe
              


    div.page-posts-container 
      h3 Posts
      div.posts-wrapper
        if page.posts.length 
          each post in page.posts 
            div.post-wrapper 
              div.post-img-container 
                img(src=post.image, alt="Post image")
              div.post-header 
                p= timestamp
                h3= title 
              div.post-text 
                p= post.text