extends layout 

block scripts 
  script(type="module" src="/javascripts/membershipsScript.js" defer)
  script(type="module" src="/javascripts/postsScript.js" defer)

block styles 
  link(rel="stylesheet", href="/stylesheets/style-pageview.css")
  link(rel="stylesheet", href="/stylesheets/style-membership.css")
  link(rel="stylesheet", href="/stylesheets/style-posts.css")  

block content 
  div.page-view-wrapper
    div.page-banner
      img(src=page.bannerImg, alt="Banner image")
      div.page-avatar-wrapper 
        img(src=page.profileImg, alt="Profile image")
    
    div.page-wrapper(style="margin-top:0px")
      div.page-title
        h1= title 
          if !page.active 
            span(style="color:red;font-size:1rem")  (Inactive)
        ul
          if page.socialUrls.facebookHandle
            li 
              a(href=`https://www.facebook.com/${page.socialUrls.facebookHandle}`, target="_blank" noreferrer)
                  img(src="/images/icons8-facebook.svg", alt="Facebook")
          if page.socialUrls.instagramHandle 
            li
              a(href=`https://www.instagram.com/${page.socialUrls.instagramHandle}`, target="_blank" noreferrer)
                img(src="/images/icons8-instagram.svg", alt="Instagram")
          if page.socialUrls.twitterHandle
            li
              a(href=`https://www.twitter.com/${page.socialUrls.twitterHandle}`, target="_blank" noreferrer)
                img(src="/images/icons8-twitter.svg", alt="Twitter")
      
      div.page-genres 
        p 
          a()= page.genre[0].displayType  
          if page.genre.length > 1
            a()= ", " + page.genre[1].displayType 
          if page.genre.length > 2
            a()= ", " + page.genre[2].displayType 

      div.page-view-main-container
        div.page-about
          p!= page.description 

        div#tiers.page-tiers-container 
          h2= curPageSub ? "My Membership" : "Membership Tiers"
          
          div.tiers-wrapper
            if curPageSub
              div.tier-container
                div.tier-wrapper.preview 
                  h3!= curPageSub.membership.title
                  p= `$${curPageSub.membership.price} / month`
                  p!= curPageSub.membership.description

                  div.remove-preview
                    p Show more

                  div.rewards-container
                    ul 
                      each reward in curPageSub.membership.rewards   
                        li.reward!= "⏦ " + reward
                    em= "Status: " + curPageSub.status
            else 
              if tiers.length > 0

                - tiers.sort((a, b) => a.price - b.price)

                each membership in tiers  
                  div.tier-container
                    div.tier-wrapper.preview
                      h3!= membership.title 

                      p.center-txt= `$${membership.price} / month`

                      div.membership-btn-container
                        if !currentUser 
                          a(href="/register") 
                            button.btn.btn-secondary.btn-register(type="submit") Register to Subscribe!
                        else if !currentUser.isVerified
                          em(style="font-size:.7rem") Check email to verify
                        else if String(currentUser._id) === String(page.user._id)
                          button.btn.btn-secondary.btn-disabled(type="submit") My page
                        else 
                          form(method="POST" action=`/subscription/add`) 
                            input#membershipId(type="hidden" name="membershipId" required="true" value=membership._id)
                            button.btn.btn-secondary(type="submit") Subscribe

                      p.membership-desc!= membership.description

                      div.remove-preview
                        p Show more

                      div.rewards-container
                        ul 
                          each reward in membership.rewards   
                            li.reward!= "⏦ " + reward

        div.page-posts-container 
          h2 Recent Posts

          div.posts-wrapper
            if !posts.length
              div  
                em No posts yet

            each post in posts 

              div.post-container
                if !currentUser || (!curPageSub && String(currentUser._id) !== String(page.user._id))
                
                  if post.public 
                    div.post-media(class=(post.type==="text" ? "hidden" : ""))
                      if post.type === "link" 
                        div
                          a.external-link(href=post.typeContent target="_blank" noreferrer)= post.typeContent
                          div.link-ogg-container
                            p.og-title Loading...
                            img.og-img(src="/images/post-placeholder.png", alt="External link image")
                            p.og-desc Loading...

                      if post.type === "image"
                        img(src=post.typeContent, alt="Post image")

                      if post.type === "video" 
                        iframe(src=post.typeContent title="Video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

                    div.post-title
                      p.timestamp= post.readableDate
                      h3!= post.title 

                    div.read-post
                      p.read-post-btn Read Post

                    div.post-text.hidden
                      p!= post.text
                  else  
                    div.post-media.media-hidden
                      div
                        p 
                          a(href="#tiers") 🔒 Subscribe to unlock
                    div.post-title
                      p.timestamp= post.readableDate
                      h3!= post.title 

                else 
                  div.post-media(class=(post.type==="text" ? "hidden" : ""))
                    if post.type === "link" 
                      div
                        a.external-link(href=post.typeContent target="_blank" noreferrer)= post.typeContent
                        div.link-ogg-container
                          p.og-title Loading...
                          img.og-img(src="/images/post-placeholder.png", alt="External link image")
                          p.og-desc Loading...

                    if post.type === "image"
                      img(src=post.typeContent, alt="Post image")

                    if post.type === "video" 
                      iframe(src=post.typeContent title="Video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

                  div.post-title
                    p.timestamp= post.readableDate
                    h3!= post.title 

                  div.read-post
                    p.read-post-btn Read Post

                  div.post-text.hidden
                    p!= post.text