extends layout 

block content 
  div.page-view-wrapper
    div.page-banner
      img(src=page.imgUrls.banner, alt="Banner image")
      div.page-avatar-wrapper 
        img(src=page.imgUrls.avatar, alt="Avatar image")
    div.page-title
      h1= title 
    
    div.page-about
      p= page.region
      p= page.description 
      ul
        if page.socialUrls.facebookHandle
          li 
            a(href=`https://www.facebook.com/${page.socialUrls.facebookHandle}` target="_blank" rel="noreferrer") Facebook
        if page.socialUrls.instagramHandle 
          li
            a(href=`https://www.instagram.com/${page.socialUrls.instagramHandle}` target="_blank" rel="noreferrer") Instagram
        if page.socialUrls.twitterHandle
          li
            a(href=`https://www.twitter.com/${page.socialUrls.twitterHandle}` target="_blank" rel="noreferrer") Twitter

    div.page-tiers-container 
      h3 Membership Tiers
      div.tiers-wrapper
        if page.tiers.length > 0

          - const tiers = page.tiers.sort((a, b) => a.price - b.price)

          each membership in tiers   
            div.tier-wrapper 
              h3= membership.title 
              p= `$${membership.price}`
              p= membership.desc
              ul 
                each reward in membership.rewards   
                  li= reward
              if String(currentUser._id) === String(page.user._id)
                em Your Page
              else 
                form(method="POST" action=`/${page._id}/subscribe`) 
                  input#creatorId(type="hidden" name="creatorId" required="true" value=page.user._id)
                  input#priceId(type="hidden" name="priceId" required="true" value=membership.stripePriceId)
                  button.btn.btn-secondary(type="submit") Subscribe
              


    div.page-posts-container 
      h3 Posts
      div.posts-wrapper
        if !posts.length
          div  
            em No posts yet
        each post in posts 
          div.post-wrapper 
            div.post-img-container 
              //- img(src=post.image, alt="Post image")
            div.post-header 
              p= post.timestamp.toLocaleDateString()
              h3!= post.title 
            div.post-text 
              p!= post.text