extends layout 

block styles 
  link(rel="stylesheet", href="/stylesheets/style-posts.css")

block scripts 
  script(type="module" src="/javascripts/postsScript.js" defer)
  script(type="module" src="/javascripts/postsViewScript.js" defer)

block content 
  div.page-wrapper
    h1= title 

    a(href=`/account/posts/add-post_text`)
      button.btn.btn-secondary Add Post

    div.toggle-view-menu
      h3 Toggle Post View 
      div
        button#list-view.btn.btn-tertiary.toggle-view-selected List View
        button#post-view.btn.btn-tertiary Post View

    div.abbr-posts-container

      if !posts.length
        p No posts yet...
        
      each post in posts
        a(href=`posts/${post._id}`)
          div.abbr-post-wrapper
            div.post-title
              p.timestamp= post.readableDate
              h3!= post.title 
            div.abbr-post-content 
              em= post.type[0].toUpperCase() + post.type.slice(1) + " Post"
              p!= post.text.slice(0, 50) + "..."

    div.posts-container.hidden
      if !posts.length
        p No posts yet...

      each post in posts 
        div.post-container(style="padding-top:40px")

          a.edit-post-btn(href=`posts/${post._id}` style="margin:0 auto")
            button.btn.btn-secondary Edit Post

          div.post-media(class=(post.type==="text" ? "hidden" : ""))
            if post.type === "link" 
              div
                a.external-link(href=post.typeContent target="_blank" rel="noreferrer nofollow")= post.typeContent
                div.link-ogg-container
                  p.og-title Loading...
                  img.og-img(src="/images/post-placeholder.png", alt="External link image")
                  p.og-desc Loading...

            if post.type === "image"
              img(src=post.typeContent, alt="Post image")

            if post.type === "video" 
              iframe(src=post.typeContent title="Video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

          div.post-title
            p.timestamp= post.readableDate
            h3!= post.title 

          div.read-post
            p.read-post-btn Read Post

          div.post-text.hidden
            p!= post.text

    button#load-more.btn.btn-tertiary(type="submit") Load More
    div.loader.hidden(style="height:30px;width:30px;border-width:4px")
    input#totalPages(type="hidden" name="totalPages" value=total_pages)
    input#page(type="hidden" name="page" value="1")
    input#limit(type="hidden" name="limit" value=limit)
    input#pageId(type="hidden" name="pageId" value=currentUser.creator.page)