extends ../layout 

block scripts 
  script(type="module" src="/javascripts/confirmSubscription.js" defer)

block styles 
  link(rel="stylesheet", href="/stylesheets/confirm-subscription.css")

block content 
  div.page-wrapper
    h1= title

    div
      p Try success test card 4242424242424242

      p Try card with SCA 4000002500003155

    hr(style="width:40%;margin:25px auto")

    form.form-wrapper#subscribe-form
      input#client-secret(type="hidden" name="client-secret" value=client_secret)
      input#stripe-publishable-key(type="hidden" name="stripe-publishable-key" value=stripe_publishable_key)
      input#creator-acct(type="hidden" name="creator-acct" value=creator_acct)
      input#app-sub-id(type="hidden" name="app-sub-id" value=app_sub_id)

      div.form-control
        label(for="name") Full Name 
        input#name(type="text" placeholder="Name on card")

      div#card-element 

      button#sub-btn.btn.btn-primary(type="submit") Subscribe
      div.loader.hidden
      
    div 
      form(method="POST" action=`/subscription/confirm/${app_sub_id}/cancel`)
        button#cancel-btn.btn.btn-tertiary(type="submit") Cancel
    div#messages