extends ../layout 

block styles
  link(rel="stylesheet", href="/stylesheets/style-settings.css")

block content
  div.page-wrapper  
    h1 Settings

    div.settings-container
      div.flex-v 
        h3 Personal
        p.bold Name: 
          span.normal #{currentUser.firstname} #{currentUser.lastname}
        p.bold  Email: 
          span.normal= currentUser.username
            span(class=(currentUser.isVerified ? "active" : "warning"))= currentUser.isVerified ? " ✅ verified" : " ❌ not verified"
        p.bold  Country: 
          span.normal= countryNames[currentUser.region]

      hr(style="width:40%;margin:15px auto")

      if currentUser.creator.page
        div.flex-v  
          h3 Creator 
          p.bold
            a.normal(href="https://dashboard.stripe.com/login" target="_blank" noreferrer) Stripe Dashboard
          if currentUser.creator.stripeIssue
            p.bold Stripe Error: 
              span.normal.warning ❌ There is an issue: please go to Stripe Dashboard
          p.bold Stripe Status: 
            span.normal(class=(currentUser.creator.stripeStatus === "active" ? "active" : "warning")) #{currentUser.creator.stripeStatus}


      hr(style="width:40%;margin:15px auto")

      div.flex-h   
        p.bold Reset Password:
        form(method="POST" action="/recover") 
          input#email(type="hidden" name="email" required="true" value=currentUser.username)
          button.btn.btn-tertiary.reset-pass(type="submit") Send Reset Email