extends ../layout 

block scripts  
  script(src="/javascripts/userhomeScript.js" defer)

block styles 
  link(rel="stylesheet", href="/stylesheets/userhome.css")

block content 
  div.page-wrapper
    h1 Hey, #{currentUser.firstname}!

    if currentUser.creator.stripeIssue
      div.stripe-error-container
        p.bold Stripe Error: 
          span.normal.warning ❌ There is an issue: please go to 
            a.normal(href="https://dashboard.stripe.com/login" target="_blank" noreferrer) Stripe Dashboard

    if currentUser.messages.length    
      div.attention-container
        div.flex-h
          p(style="color:gray;font-size:.9rem") Attention:
          form(method="POST" action="/home/clear-messages") 
            button.btn.btn-tertiary Clear Messages
        ul
        each message of currentUser.messages
          li.warning(style="margin-left:10px")= message


    if !currentUser.isVerified 
      p Please check email and verify account.

      form(method="POST" action="/verify/resend") 
        input#email(type="hidden" name="email" required="true" value=currentUser.username)
        button.btn.btn-primary(type="submit") Resend Verification Email

    h3 My Subscriptions
    
    div.toggle-view-menu
      div
        button#active-view.btn.btn-tertiary.toggle-view-selected Active
        button#inactive-view.btn.btn-tertiary Inactive

    div#active-subs.subscriptions-container
      if !active.length
        a(href="/search" style="margin: 0 auto")
          button.btn.btn-secondary Find Creators!

      each sub in active 
        div.subscription-wrapper
          p 
            a(href=`/${sub.page._id}` style="color:#1059ff")= sub.page.title 
              span(class=(sub.status === "active" ? "active" : "warning"))  (#{sub.status})

          div.subscription-info    
            em(style="font-size:.9rem") #{sub.membership ? ` - ${sub.membership.title} -` : "Membership Tier Deleted"}
          
            div 
              a(href=`/subscription/${sub._id}/cancel`)
                button.btn.btn-secondary.btn-sub(type="submit") Cancel

      button#load-more-active.btn.btn-tertiary(type="submit" class=(total_pages_active < 2 ? "hidden" : "") style="margin:0 auto") Load More
      div.loader.hidden(style="height:30px;width:30px;border-width:4px")
      input#totalPagesActive(type="hidden" name="totalPagesActive" value=total_pages_active)
      input#pageActive(type="hidden" name="pageActive" value="1")
    
    div#inactive-subs.subscriptions-container.hidden
      each sub in inactive 
        div.subscription-wrapper
          p 
            a(href=`/${sub.page._id}` style="color:#1059ff")= sub.page.title 
              span(class=(sub.status === "active" ? "active" : "warning"))  (#{sub.status})

          div.subscription-info    
            em(style="font-size:.9rem") #{sub.membership ? ` - ${sub.membership.title} -` : "Membership Tier Deleted"}
          
            div 
              form(method="POST" action=`/subscription/${sub._id}/delete`)
                button.btn.btn-secondary.btn-sub(type="submit") Delete Inactive
          if !sub.membership
            p(style="color:red;font-size:.7rem;margin-top:-10px") Attn: Creator deleted membership tier

      button#load-more-inctive.btn.btn-tertiary(type="submit" class=(total_pages_inactive < 2 ? "hidden" : "") style="margin:0 auto") Load More
      div.loader.hidden(style="height:30px;width:30px;border-width:4px")
      input#totalPagesInactive(type="hidden" name="totalPagesInactive" value=total_pages_inactive)
      input#pageInactive(type="hidden" name="pageInactive" value="1")

    input#limit(type="hidden" name="limit" value=limit)
    input#userId(type="hidden" name="userId" value=currentUser._id)