extends ../layout 

block scripts 
  script(src="/javascripts/formScript.js" defer)

block content 
  div.page-wrapper
    h1= title 

    form.form-wrapper(method='POST' action=`/account/posts/${post._id}`) 
      div.form-control 
        p(style="text-align:right;font-size:.8rem;color:gray") Posted #{post.readableDate}

      div.form-control 
        label(for="title" style="margin-left:15px") Post Title
        input#title(type="text" name="title" required='true' value!=post.title)

      div.form-control 
        label(for="text" style="margin-left:15px") Text
        textarea#text(name="text" rows="6")!= post.text

      if post.type !== "text" 
        div.form-control 
          label(for="typeContent" style="margin-left:15px") #{post.type[0].toUpperCase() + post.type.slice(1)} Url
          input#typeContent(type="text" name="typeContent" required='true' value=post.typeContent)

      div.form-control 
        label(for="public" style="margin-left:15px") Post Visibility
        select#public(name="public") 
          option(value="true" selected=(post.public ? "selected" : false)) Public
          option(value="false" selected=(!post.public ? "selected" : false)) Private
    
      div.form-control-btns 
        a(href="/account/posts") Cancel
        button#action-btn.btn.btn-secondary(type="submit") Save
      div.loader.hidden

    div 
      a(href=`/account/posts/${post._id}/delete`) 
        button.btn.btn-tertiary Delete Post
    