extends ../layout 

block scripts 
  script(type="module" src="/javascripts/formScript.js" defer)
  script(type="module" src="/javascripts/postAddScript.js" defer)

block styles 
  link(rel="stylesheet", href="/stylesheets/add-post.css")

block content 
  div.page-wrapper
    h1= `Add ${postType[0].toUpperCase() + postType.slice(1)} Post`

    div.toggle-post-type
      h3 Select Post Type


      div
        a(href="/account/posts/add-post_text")
          button.btn.btn-tertiary(class=(postType === "text" ? "selected-type" : "")) Text
        a(href="/account/posts/add-post_link")
          button.btn.btn-tertiary(class=(postType === "link" ? "selected-type" : "")) Link
        a(href="/account/posts/add-post_image_url")
          button.btn.btn-tertiary(class=(postType === "image" ? "selected-type" : "")) Image
        a(href="/account/posts/add-post_video")
          button.btn.btn-tertiary(class=(postType === "video" ? "selected-type" : "")) Video

    if errors 
      ul 
        for error in errors 
          li!= error.msg

    //- ########### Image Upload Post ##################
    if imgType && otherType === "url"
      form.form-wrapper(method='POST' action='/account/posts/add-post-upload' enctype="multipart/form-data") 
        input#postType(type="hidden" name="postType" value=postType required="true")

        div.form-control 
          label(for="isPublic" style="margin-left:15px") Post Access 
          select#isPublic(name="isPublic") 
            option(value="false" selected) Subscribers Only 
            option(value="true") Public Access 

        div.form-control 
          label(for="title" style="margin-left:15px") Post Title
          input#title(type="text" name="title" required='true')

        div.form-control 
          label(for="text" style="margin-left:15px") Text
          textarea#text(name="text")

        div.form-control
          label(for="typeContent")= postType[0].toUpperCase() + postType.slice(1) + " URL" 
            a(style="font-size:.8rem" href=`/account/posts/add-post_${postType}_${otherType}`)= " (Use URL link instead)" 
          input#postImg(type="file" name="postImg" accept="image/png, image/jpeg, image/jpg, image/webp" required)

        div.form-control 
          label(for="externalLink") (Optional) Add link to post
          div.form-control.add-link-container.hidden
            input#externalLink(type="text" placeholder="http://checkoutthislink.io" name="externalLink" style="margin-top:5px")
            button(type="button")#removeLink.btn.btn-tertiary ⓧ
          button#add-link.btn.btn-tertiary(type="button" style="border-radius:5px;margin-top:0px") ➕ Add Link
      
        div.form-control-btns 
          a(href="/account/posts") Cancel
          button#action-btn.btn(type="submit") Submit
        div.loader.hidden

    //- ########### All Other Posts ##################
    else
      form.form-wrapper(method='POST' action='/account/posts/add-post') 
        input#postType(type="hidden" name="postType" value=postType required="true")

        div.form-control 
          label(for="isPublic" style="margin-left:15px") Post Access 
          select#isPublic(name="isPublic") 
            option(value="false" selected) Subscribers Only 
            option(value="true") Public Access 

        div.form-control 
          label(for="title" style="margin-left:15px") Post Title
          input#title(type="text" name="title" required='true')

        div.form-control 
          label(for="text" style="margin-left:15px") Text
          textarea#text(name="text")

        div.form-control
          if postType !== "text"
            label(for="typeContent")= postType[0].toUpperCase() + postType.slice(1) + " URL" 
              if imgType 
                a(style="font-size:.8rem" href=`/account/posts/add-post_${postType}_${otherType}`)= " (Upload instead)" 
          input#typeContent(type=(postType === "text" ? "hidden" : "text") name="typeContent" required)

        if postType === "image"
          div.form-control 
            label(for="externalLink") (Optional) Add link to post
            div.form-control.add-link-container.hidden
              input#externalLink(type="text" placeholder="http://checkoutthislink.io" name="externalLink" style="margin-top:5px")
              button(type="button")#removeLink.btn.btn-tertiary ⓧ
            button#add-link.btn.btn-tertiary(type="button" style="border-radius:5px;margin-top:0px") ➕ Add Link
      
        div.form-control-btns 
          a(href="/account/posts") Cancel
          button#action-btn.btn(type="submit") Submit
        div.loader.hidden
        